.message-wrapper {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-404 {
  font-size: 120px;
}

.not-found-message {
  margin-top: 10px;
  margin-bottom: 25px;
}

.go-back-button {
  border: none;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 120px;
  background-color: black;
  border-radius: 12px;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: rgba(0, 0, 0, 0.685);
}
